<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cacf14b5-3970-4436-9fc7-2cc66b77dad6" name="TestSuite1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cacf14b5-3970-4436-9fc7-2cc66b77dad6fileName">TestSuite1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>